<div class="card-body">
    <h3>Sócios</h3>

    <hr>
    <a href="/admin/create"><button type="submit" class="btn btn-success">Cadastrar sócio</button></a>

    <div class="card-columns mt-4">
        {{#each socio }}

        <div class="col-12">
            <div class="card">
                {{!-- <img src="https://avatars3.githubusercontent.com/u/28845658?s=460&v=4" class="card-img-top rounded" > --}}
                <div class="card-body">
                    
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">CPF: {{cpf}}</p>
                    <p class="card-text">MATRICULA: {{matricula}}</p>
                    <p class="card-text">Curso: {{curso}}</p>

                    <form action="/admin/findUser/{{_id}}" class="mt-2" method="POST">
                        <button type="submit" class="btn btn-success">Editar</button>
                    </form>

                    <form action="/admin/destroy/{{_id}}" class="mt-2" method="POST">
                        <button type="submit" class="btn btn-danger ">Deletar</button>
                    </form>

                </div>

            </div>
        </div>


        {{/each}}

    </div>


</div>